<div class="friends_container">
  <h2>Friends</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Picture</th>
      </tr>
    </thead>
    <tbody>
      <% value.each do |val| %>
        <tr>
          <td> 
            <% if val["name"].present? %>
              <%= val["name"] %> 
            <% end %>
          </td>
          <td> 
            <% if val["picture"].present? %>
              <img src=<%= val["picture"]["data"]["url"]%> alt="Flowers in Chania" width="50" height="50"> 
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>