<%= javascript_include_tag 'calc_downlink_speed' %>

<div id="personal_info_container", class="ul_container">
	<h2> Location </h2>
	<ul id="personal_info"> </ul>
	<div id="googleMap" style="width:100%;height:400px;"></div>
</div>

<div id="software_and_hardware", class="ul_container">
	<h2> Browser and Hardware </h2>
	<ul id="hardware_info"> 
		<li id="status"></li>
		<li id="level"></li>
		<li id="charge"></li>
		<li id="discharge"></li>
	</ul>
</div> 

<div id="plugins_info", class="ul_container">
	<h2> Plugins </h2>
	<ul id="plugins_list"> 
		
	</ul>
</div>

<div id="network_information", class= "ul_container">
	<h2> Connection </h2>
	<ul id="connection_info"> </ul>

</div>

<div id="social_media_info", class="ul_container">
	<h2> Social Media </h2>
	<ul id="social_media"> 
		<li id="Twitter"></li>
		<li id="GooglePlus"></li>
		<li id="Google"></li>
		<li id="Facebook"></li>
		<li></li>
		<div class="col-sm-12"></div>
	</ul>
</div>

<!-- for social media info -->
<%= render "users/social_media_tags" %>

<script>
 window.fbAsyncInit = function(){
  FB.init({ appId:'157571718230313', status:true,  cookie:true, xfbml:true});
  FB.getLoginStatus(function(response){
   if (response.status != "unknown")
   {
    show_login_status("Facebook", true);
   }else{
    show_login_status("Facebook", false);
   }
  });
 };
 // Load the SDK Asynchronously
 (function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
</script>

<style type="text/css">
	.ul_container{
		margin-left: 20px;
	}
	.ul_container li{
		display: inherit;
		margin-left: 20px;
	}
	#social_media li{
		display: inherit;
		margin-left: 20px;
	}
	.sub_header{
		font-weight: bold;
	}
</style>

<script type="text/javascript">
   function show_login_status(network, status)
   {
	    if (status){
	    	$("#"+network).html("Logged in to: " + network)
	    }else{
	    	$("#"+network).html("Not logged in to: " + network)
	    }
   }
 </script>

<script>
	function get_bettry_info(){
		navigator.getBattery().then(function(battery) {
		  function updateAllBatteryInfo(){
		    $("#hardware_info").prepend("<li class='sub_header'>" + "Battery" +"</li>")
		    updateChargeInfo();
		    updateLevelInfo();
		    updateChargingInfo();
		    updateDischargingInfo();
		  }
		  updateAllBatteryInfo();
		  battery.addEventListener('chargingchange', function(){
		    updateChargeInfo();
		  });
		  function updateChargeInfo(){
		    $("#hardware_info #status").html("Battery charging? " + (battery.charging ? "Yes" : "No"))
		  }
		  battery.addEventListener('levelchange', function(){
		    updateLevelInfo();
		  });
		  function updateLevelInfo(){
		    $("#hardware_info #level").html("Battery level: " + (battery.level * 100 + "%"))
		  }
		  battery.addEventListener('chargingtimechange', function(){
		    updateChargingInfo();
		  });
		  function updateChargingInfo(){
		    $("#hardware_info #charge").html("Battery charging time: " + (battery.chargingTime + " seconds"))
		  }
		  battery.addEventListener('dischargingtimechange', function(){
		    updateDischargingInfo();
		  });
		  function updateDischargingInfo(){
		    $("#hardware_info #discharge").html("Battery discharging time: " + (battery.dischargingTime + " seconds"))
		  }
		});
	}

	$(document).ready(function(){
	    jQuery.get("https://ipinfo.io", function(response) {
		    $("#personal_info").html('');
		    Object.keys(response).forEach(function (key) {

		    	if ( key == 'loc' &&  response[key].split(",").length == 2){
		    		var myLatLng = {lat: parseFloat(response[key].split(",")[0]), lng: parseFloat(response[key].split(",")[1])};
		    		var mapProp= { center:new google.maps.LatLng(myLatLng["lat"], myLatLng["lng"]),zoom:10,};
					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
					var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' });
		    	}

			    $("#personal_info").append("<li>" + key + " : " + response[key]  + "</li>")
			})

		}, "jsonp");

	    $("#hardware_info").append("<li>" + "OS" + " : " + navigator["platform"] + "</li>")
	    $("#hardware_info").append("<li>" + "BROWSER" + " : " + navigator["appVersion"] + "</li>")
		$("#hardware_info").append("<li>" + "CPU: " + navigator.hardwareConcurrency + " Cores" + "</li>")
		
		if (typeof navigator.getBattery != "undefined"){
			get_bettry_info();
		}

	    var i;
		if (navigator["plugins"].length == 0){
			$("#plugins_list").append("<li>" + "No plugin added." + "</li>")
		}else{
			for (i = 0; i < navigator["plugins"].length; ++i) {
			    console.log(navigator["plugins"][i].name);
			    $("#plugins_list").append("<li>" + navigator["plugins"][i].name + "</li>")
			}
		}

	});
</script>