<%= javascript_include_tag 'calc_downlink_speed' %>
<%= javascript_include_tag 'client.min' %>

<div class="browser_knows main">
	<div class="card" >
		<div id="personal_info_container", class="ul_container">
			<h2> Location </h2>
			<ul id="personal_info"> </ul>
			<div id="googleMap" style="width:100%;height:400px;"></div>
		</div>
	</div>

	<div class="card">
		<div id="software_and_hardware", class="ul_container">
			<h2> Browser and Hardware </h2>
			<ul id="hardware_info"> 
				<li id="status"></li>
				<li id="level"></li>
				<li id="charge"></li>
				<li id="discharge"></li>
			</ul>
		</div>
	</div> 

	<div class="card">
		<div id="plugins_info", class="ul_container">
			<h2> Plugins </h2>
			<ul id="plugins_list"> 
				
			</ul>
		</div>
	</div>

	<div class="card">
		<div id="network_information", class= "ul_container">
			<h2> Connection </h2>
			<ul id="connection_info"> </ul>

		</div>
	</div>

	<div class="card">
		<div id="social_media_info", class="ul_container">
			<h2> Social Media </h2>
			<ul id="social_media"> 
				<li id="Twitter"></li>
				<li id="GooglePlus"></li>
				<li id="Google"></li>
				<li id="Facebook"></li>
				<li></li>
				<div class="col-sm-12"></div>
			</ul>
		</div>
	</div>

	<div class="card">
		<div id="other_info", class="ul_container">
			<h2> Other </h2>
			<ul id="other_info_ul"> 
			</ul>
		</div>
	</div>

	<div class="card">
		<div id="dnt_info", class="ul_container">
			<h2> Don't Track Info </h2>
			<ul id="dnt_info_ul">
			</ul>
		</div>
	</div>
</div>


<!-- for social media info -->
<%= render "users/social_media_tags" %>

<script>
 window.fbAsyncInit = function(){
  FB.init({ appId:'157571718230313', status:true,  cookie:true, xfbml:true});
  FB.getLoginStatus(function(response){
   if (response.status != "unknown")
   {
    show_login_status("Facebook", true);
   }else{
    show_login_status("Facebook", false);
   }
  });
 };
 // Load the SDK Asynchronously
 (function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
</script>

<style type="text/css">
	.ul_container{
		margin-left: 20px;
	}
	.ul_container li{
		display: inherit;
		padding: 2px;
	}
	.sub_header{
		font-weight: bold;
	}
</style>

<script type="text/javascript">
   function show_login_status(network, status)
   {
	    if (status){
	    	$("#"+network).html("<h6>Logged in to</h6>: " + network)
	    }else{
	    	$("#"+network).html("<h6>Not logged in to</h6>: " + network)
	    }
   }
 </script>

<script>
	function get_bettry_info(){
		navigator.getBattery().then(function(battery) {
		  function updateAllBatteryInfo(){
		    $("#hardware_info").prepend("<li class='sub_header'>" + "Battery" +"</li>")
		    updateChargeInfo();
		    updateLevelInfo();
		    updateChargingInfo();
		    updateDischargingInfo();
		  }
		  updateAllBatteryInfo();
		  battery.addEventListener('chargingchange', function(){
		    updateChargeInfo();
		  });
		  function updateChargeInfo(){
		    $("#hardware_info #status").html("<h6>Battery charging?</h6> " + (battery.charging ? "Yes" : "No"))
		  }
		  battery.addEventListener('levelchange', function(){
		    updateLevelInfo();
		  });
		  function updateLevelInfo(){
		    $("#hardware_info #level").html("<h6>Battery level</h6>: " + (battery.level * 100 + "%"))
		  }
		  battery.addEventListener('chargingtimechange', function(){
		    updateChargingInfo();
		  });
		  function updateChargingInfo(){
		    $("#hardware_info #charge").html("<h6>Battery charging time</h6>: " + (battery.chargingTime + " seconds"))
		  }
		  battery.addEventListener('dischargingtimechange', function(){
		    updateDischargingInfo();
		  });
		  function updateDischargingInfo(){
		    $("#hardware_info #discharge").html("<h6>Battery discharging time</h6>: " + (battery.dischargingTime + " seconds"))
		  }
		});
	}

	$(document).ready(function(){
	    jQuery.get("https://ipinfo.io", function(response) {
		    $("#personal_info").html('');
		    Object.keys(response).forEach(function (key) {

		    	if ( key == 'loc' &&  response[key].split(",").length == 2){
		    		var myLatLng = {lat: parseFloat(response[key].split(",")[0]), lng: parseFloat(response[key].split(",")[1])};
		    		var mapProp= { center:new google.maps.LatLng(myLatLng["lat"], myLatLng["lng"]),zoom:10,};
					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
					var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' });
		    	}

			    $("#personal_info").append("<li><h6>" + key + " </h6>: " + response[key]  + "</li>")
			})

		}, "jsonp");

	    $("#hardware_info").append("<li>" + "<h6>OS</h6>" + " : " + navigator["platform"] + "</li>")
	    $("#hardware_info").append("<li>" + "<h6>BROWSER</h6>" + " : " + navigator["appVersion"] + "</li>")
		$("#hardware_info").append("<li>" + "<h6>CPU</h6>: " + navigator.hardwareConcurrency + " Cores" + "</li>")
		
		if (typeof navigator.getBattery != "undefined"){
			get_bettry_info();
		}

	    var i;
		if (navigator["plugins"].length == 0){
			$("#plugins_list").append("<li>" + "No plugin added." + "</li>")
		}else{
			for (i = 0; i < navigator["plugins"].length; ++i) {
			    console.log(navigator["plugins"][i].name);
			    $("#plugins_list").append("<li>" + navigator["plugins"][i].name + "</li>")
			}
		}

		// other info
		var client = new ClientJS();
		$("#other_info_ul").html('')
		$("#other_info_ul").append("<li>" + "<h6>Check For Mobile Device</h6>" + " : " + client.isMobile() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check For Android</h6>" + " : " + client.isMobileAndroid() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check For iOS</h6>" + " : " + client.isMobileIOS() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check If Java Is Installed</h6>" + " : " + client.isJava() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Installed Java Version</h6>" + " : " + client.getJavaVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device/Browser Fingerprint</h6>" + " : " + client.getFingerprint() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>User Agent</h6>" + " : " + client.getUserAgent() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Browser</h6>" + " : " + client.getBrowser() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Browser Version</h6>" + " : " + client.getBrowserVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Browser's Major Version</h6>" + " : " + client.getBrowserMajorVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is IE</h6>" + " : " + client.isIE() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is Chrome</h6>" + " : " + client.isChrome() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is Firefox</h6>" + " : " + client.isFirefox() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is Safari</h6>" + " : " + client.isSafari() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is Opera</h6>" + " : " + client.isOpera() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is Mobile Safari</h6>" + " : " + client.isMobileSafari() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Browser engine</h6>" + " : " + client.getEngine() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Engine Version</h6>" + " : " + client.getEngineVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Operating System</h6>" + " : " + client.getOS() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>OS Version</h6>" + " : " + client.getOSVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the OS is Windows</h6>" + " : " + client.isWindows() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the OS is Mac</h6>" + " : " + client.isMac() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the OS is Linux</h6>" + " : " + client.isLinux() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the OS is Solaris</h6>" + " : " + client.isSolaris() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device</h6>" + " : " + client.getDevice() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device Type</h6>" + " : " + client.getDeviceType() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device Vendor</h6>" + " : " + client.getDeviceVendor() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>CPU Architecture</h6>" + " : " + client.getCPU() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if the browser is on a mobile device</h6>" + " : " + client.isMobile() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Screen Color Depth</h6>" + " : " + client.getColorDepth() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Screen Current Resolution</h6>" + " : " + client.getCurrentResolution() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Screen Available Resolution</h6>" + " : " + client.getAvailableResolution() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device XDPI</h6>" + " : " + client.getDeviceXDPI() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Device YDPI</h6>" + " : " + client.getDeviceYDPI() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Installed plugins</h6>" + " : " + client.getPlugins() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if Flash is installed</h6>" + " : " + client.isFlash() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Flash Version</h6>" + " : " + client.getFlashVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if Silverlight is installed</h6>" + " : " + client.isSilverlight() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Silverlight Version</h6>" + " : " + client.getSilverlightVersion() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if mime types are installed</h6>" + " : " + client.isMimeTypes() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>List of installed mime types</h6>" + " : " + client.getMimeTypes() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>List of installed fonts</h6>" + " : " + client.getFonts() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if local storage is avaliable</h6>" + " : " + client.isLocalStorage() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if session storage is avaliable</h6>" + " : " + client.isSessionStorage() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check if cookies are avaliable</h6>" + " : " + client.isCookie() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Time Zone</h6>" + " : " + client.getTimeZone() + "</li>")
		$("#other_info_ul").append("<li>" + "<h6>User language</h6>" + " : " + client.getLanguage()+ "</li>")
		$("#other_info_ul").append("<li>" + "<h6>Check For The Canvas Element</h6>" + " : " + client.isCanvas()+ "</li>")

		//tracking info
		$("#dnt_info_ul").html('')
		$("#dnt_info_ul").append("<li><h6>What is Do Not Track?: </h6>“Tracking” refers to the many different methods that websites, advertisers, ad networks, and others use to learn about your web browsing behavior.  This includes information about what sites you visit and for how long; things you like, dislike, and comment on; what you search for; and what you buy.  They then share this information across the web to show you ads, products, or services specifically targeted to you.</li>");
		$("#dnt_info_ul").append("<li><h6>Is don't track enabled? </h6>" + (window.doNotTrack == "1" || navigator.doNotTrack == "yes" || navigator.doNotTrack == "1" || navigator.msDoNotTrack == "1") + "</li>");

		var dto_link = ''
		if (client.getBrowser() == "Chrome"){
			dto_link = "<li> Turn Do Not Track on or off ? <a target=_blank href=https://support.google.com/chrome/answer/2790761> Click Here </a> </li>"
		}
		else if (client.getBrowser() == "Firefox"){
			dto_link = "<li> Turn Do Not Track on or off ? <a target=_blank href=https://www.mozilla.org/en-US/firefox/dnt> Click Here </a> </li>"
		} 
		else{
			dto_link = "<li> Turn Do Not Track on or off ? <a target=_blank href=https://www.abine.com/blog/2011/turn-on-do-not-track> Click Here </a> </li>"
		}
		$("#dnt_info_ul").append(dto_link)

	});
</script>