<%= javascript_include_tag 'client.min' %>
<div class="browser_knows_list main">
	
	<ul class="list-group", id="map_info"> 
		<li id="googleMap" style="width:100%;height:400px;" class="list-group-item"></li>
	</ul>

	<ul class="list-group", id="personal_info"> </ul>
	<ul class="list-group", id="hardware_info"> 
		<li id="status" class="list-group-item"></li>
		<li id="level" class="list-group-item"></li>
		<li id="charge" class="list-group-item"></li>
		<li id="discharge" class="list-group-item"></li>
	</ul>

	<ul class="list-group", id="social_media">
		<li class='list-group-item active'><i class='fa fa-rss-square'></i> Social Media</li> 
		<li id="Twitter", class="list-group-item"></li>
		<li id="GooglePlus", class="list-group-item"></li>
		<li id="Google", class="list-group-item"></li>
		<li id="Facebook", class="list-group-item"></li>
	</ul>
	<ul class="list-group", id="connection_info1"> </ul>
	<ul class="list-group", id="other_info_ul"> </ul>

</div>

<%= render "users/social_media_tags" %>

<script>

 window.fbAsyncInit = function(){

  // $("#social_media").prepend("<li class='list-group-item active'><i class='fa fa-rss-square'></i> Social Media</li>");

  FB.init({ appId:'157571718230313', status:true,  cookie:true, xfbml:true});
  FB.getLoginStatus(function(response){
   if (response.status != "unknown")
   {
    show_login_status("Facebook", true);
   }else{
    show_login_status("Facebook", false);
   }
  });
 };
 // Load the SDK Asynchronously
 (function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js";
  d.getElementsByTagName('head')[0].appendChild(js);
 }(document));

 function show_login_status(network, status)
   {
	    if (status){
	    	$("#"+network).html("<span class='key'>" + network + " Logged in?" + "<img src='/assets/information_white.png' class='tooltip' title='Is you Currently loged in to this social media account' /> </span>" + "<span class='value'>" + list_value(true)  + "</span>")

	    }else{
	    	$("#"+network).html("<span class='key'>" + network + " Logged in?" + "<img src='/assets/information_white.png' class='tooltip' title='Is you Currently loged in to this social media account' /> </span>" + "<span class='value'>" + list_value(false)  + "</span>")
	    }
	    $('.tooltip').tooltipster();
   }
</script>



<script type="text/javascript">

	function get_bettry_info(){
		navigator.getBattery().then(function(battery) {
		  function updateAllBatteryInfo(){
		    $("#hardware_info").prepend("<li class='list-group-item active'><i class='fa fa-battery-three-quarters'></i> Battery</li>");
		    updateChargeInfo();
		    updateLevelInfo();
		    updateChargingInfo();
		    updateDischargingInfo();
		  }
		  updateAllBatteryInfo();
		  battery.addEventListener('chargingchange', function(){
		    updateChargeInfo();
		  });
		  function updateChargeInfo(){
		    $("#hardware_info #status").html("<span class='key'>" + "Charging?" + "<img src='/assets/information_white.png' class='tooltip' title='Is current status of battery is charging?' />" +" </span>" + "<span class='value'>" + list_value(battery.charging)  + "</span>")
		  }
		  battery.addEventListener('levelchange', function(){
		    updateLevelInfo();
		  });
		  function updateLevelInfo(){
		    $("#hardware_info #level").html("<span class='key'>" + "Level" + "<img src='/assets/information_white.png' class='tooltip' title='Level of your battery charging now' />" + " </span>" + "<span class='value'>" + list_value(battery.level * 100 + "%")  + "</span>")

		  }
		  battery.addEventListener('chargingtimechange', function(){
		    updateChargingInfo();
		  });
		  function updateChargingInfo(){
		    $("#hardware_info #charge").html("<span class='key'>" + "Charging time" + "<img src='/assets/information_white.png' class='tooltip' title='Time remaining to charge battery completely' />" + " </span>" + "<span class='value'>" + list_value(battery.chargingTime + " seconds")  + "</span>")

		  }
		  battery.addEventListener('dischargingtimechange', function(){
		    updateDischargingInfo();
		  });
		  function updateDischargingInfo(){
		    $("#hardware_info #discharge").html("<span class='key'>" + "Discharging time" + "<img src='/assets/information_white.png' class='tooltip' title='Time remaining to discharge battery completely' />" + " </span>" + "<span class='value'>" + list_value(battery.dischargingTime + " seconds")  + "</span>")

		  }
		});
	}

	$(document).ready(function(){

		//location info
		jQuery.get("https://ipinfo.io", function(response) {
		    $("#personal_info").html('');
		    $("#personal_info").append("<li class='list-group-item active'><i class='fa fa-globe'></i> Location</li>");

		    Object.keys(response).forEach(function (key) {
			    

		    	if ( key == 'loc' &&  response[key].split(",").length == 2){
		    		var myLatLng = {lat: parseFloat(response[key].split(",")[0]), lng: parseFloat(response[key].split(",")[1])};
		    		var mapProp= { center:new google.maps.LatLng(myLatLng["lat"], myLatLng["lng"]),zoom:10,};
					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
					var marker = new google.maps.Marker({ position: myLatLng, map: map, title: 'Hello World!' });
		    	}

			    $("#personal_info").append("<li class=list-group-item >" +"<span class='key'>"+ ucwords(key) + location_data_info(key) + " </span>" + "<span class='value'>" +response[key] + "</span>" + "</li>")
			})

		}, "jsonp");

		if (typeof navigator.getBattery != "undefined"){
			get_bettry_info();
		}else{
			$("#hardware_info").remove();
		}

		// other info
		var client = new ClientJS();

		$("#other_info_ul").html('')

		$("#other_info_ul").append("<li class='list-group-item active'><i class='fa fa-adjust'></i> Other</li>");


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Mobile Device?" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is running on mobile device' />" +" </span>" + "<span class='value'>" + list_value(client.isMobile())  + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Android?" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is running on android device' />" + " </span>" + "<span class='value'>" + list_value(client.isMobileAndroid()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Ios?" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is running on ios device' />" + " </span>" + "<span class='value'>" + list_value(client.isMobileIOS()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Java installed?" + "<img src='/assets/information_white.png' class='tooltip' title='Is java installed in your system' />" + " </span>" + "<span class='value'>" + list_value(client.isJava()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Installed Java Version" + "<img src='/assets/information_white.png' class='tooltip' title='Installed java version in your system' />" +" </span>" + "<span class='value'>" + list_value(client.getJavaVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Browser Fingerprint" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used browser fingerprint' />" +" </span>" + "<span class='value'>" + list_value(client.getFingerprint()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "User Agent" + "<img src='/assets/information_white.png' class='tooltip' title='Browser user agent' />" + " </span>" + "<span class='value'>" + list_value(client.getUserAgent()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Browser" + "<img src='/assets/information_white.png' class='tooltip' title='Browser name' />" + " </span>" + "<span class='value'>" + list_value(client.getBrowser()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Browser Version" + "<img src='/assets/information_white.png' class='tooltip' title='Browser version' />" + " </span>" + "<span class='value'>" + list_value(client.getBrowserVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Browser Major Version" + "<img src='/assets/information_white.png' class='tooltip' title='Browser major version' />" + " </span>" + "<span class='value'>" + list_value(client.getBrowserMajorVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is IE" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is Internet Explorer' />" +" </span>" + "<span class='value'>" + list_value(client.isIE()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is Chrome" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is Google Chrome' />" +" </span>" + "<span class='value'>" + list_value(client.isChrome()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is Firefox" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is Mozilla Firefox' />" +" </span>" + "<span class='value'>" + list_value(client.isFirefox()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is Safari" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is Safari' />" +" </span>" + "<span class='value'>" + list_value(client.isSafari()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is Opera" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser is Opera' />" +" </span>" + "<span class='value'>" + list_value(client.isOpera()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Is Mobile Safari" + "<img src='/assets/information_white.png' class='tooltip' title='Browser is used in mobile device and safari' />" + " </span>" + "<span class='value'>" + list_value(client.isMobileSafari()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Browser Engine" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used browser engine' />" +" </span>" + "<span class='value'>" + list_value(client.getEngine()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Engine Version" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used browser engine version' />" +" </span>" + "<span class='value'>" + list_value(client.getEngineVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Operating System" + "<img src='/assets/information_white.png' class='tooltip' title='Operating system installed in your system' />" +" </span>" + "<span class='value'>" + list_value(client.getOS()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "OS Version" + "<img src='/assets/information_white.png' class='tooltip' title='Operating system version installed in your system' />" +" </span>" + "<span class='value'>" + list_value(client.getOSVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "OS is Windows" + "<img src='/assets/information_white.png' class='tooltip' title='Is your operating system is windows' />" + " </span>" + "<span class='value'>" + list_value(client.isWindows()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "OS is Mac" + "<img src='/assets/information_white.png' class='tooltip' title='Is your operating system is Mac' />" + " </span>" + "<span class='value'>" + list_value(client.isMac()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "OS is Linux"  + "<img src='/assets/information_white.png' class='tooltip' title='Is your operating system is Linux' />" + " </span>" + "<span class='value'>" + list_value(client.isLinux()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "OS is Solaris" + "<img src='/assets/information_white.png' class='tooltip' title='Is your operating system is Solaris' />" + " </span>" + "<span class='value'>" + list_value(client.isSolaris()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Device" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used device' />" +" </span>" + "<span class='value'>" + list_value(client.getDevice()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Device Type" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used device type' />" + " </span>" + "<span class='value'>" + list_value(client.getDeviceType()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Device Vendor" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used device Vendor is' />" + " </span>" + "<span class='value'>" + list_value(client.getDeviceVendor()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "CPU Architecture" + "<img src='/assets/information_white.png' class='tooltip' title='Architecture of your CPU is' />" +" </span>" + "<span class='value'>" + list_value(client.getCPU()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Mobile Device Browser" + "<img src='/assets/information_white.png' class='tooltip' title='Is this browser is used on mobile device' />" +" </span>" + "<span class='value'>" + list_value(client.isMobile()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Screen Color Depth" + "<img src='/assets/information_white.png' class='tooltip' title='Your Screen Color Depth is' />" +" </span>" + "<span class='value'>" + list_value(client.getColorDepth()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Screen Current Resolution" + "<img src='/assets/information_white.png' class='tooltip' title='Your Screen current Resolution is' />" +" </span>" + "<span class='value'>" + list_value(client.getCurrentResolution()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Screen Available Resolution" + "<img src='/assets/information_white.png' class='tooltip' title='Your Screen Available Resolution is' />" + " </span>" + "<span class='value'>" + list_value(client.getAvailableResolution()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Device XDPI" + "<img src='/assets/information_white.png' class='tooltip' title='Your Screen Device Resolution in XDPI' />" + " </span>" + "<span class='value'>" + list_value(client.getDeviceXDPI()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Device YDPI" + "<img src='/assets/information_white.png' class='tooltip' title='Your Screen Resolution in YDPI' />" +" </span>" + "<span class='value'>" + list_value(client.getDeviceYDPI()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Installed plugins" + "<img src='/assets/information_white.png' class='tooltip' title='Names of plugins installed in your browser' />" + " </span>" + "<span class='value'>" + list_value(client.getPlugins()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Flash installed?" + "<img src='/assets/information_white.png' class='tooltip' title='Is flash installed in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.isFlash()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Flash Version" + "<img src='/assets/information_white.png' class='tooltip' title='Your browser installed flash version' />" +" </span>" + "<span class='value'>" + list_value(client.getFlashVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Silverlight installed?" + "<img src='/assets/information_white.png' class='tooltip' title='Is Silverlight installed in your browser' />" + " </span>" + "<span class='value'>" + list_value(client.isSilverlight()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Silverlight Version" + "<img src='/assets/information_white.png' class='tooltip' title='Installed Silverlight version' />" +" </span>" + "<span class='value'>" + list_value(client.getSilverlightVersion()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Mime Types installed" + "<img src='/assets/information_white.png' class='tooltip' title='Is mimetypes installed in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.isMimeTypes()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Installed Mime Types" + "<img src='/assets/information_white.png' class='tooltip' title='List of installed mimetypes' />" + " </span>" + "<span class='value'>" + list_value(client.getMimeTypes().replace(/^,|,$/g,'')) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Installed fonts" +  "<img src='/assets/information_white.png' class='tooltip' title='List of fonts installed in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.getFonts().replace(/^,|,$/g,'')) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Local Storage?" + "<img src='/assets/information_white.png' class='tooltip' title='Is local storage available in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.isLocalStorage()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Session Storage?" + "<img src='/assets/information_white.png' class='tooltip' title='Is session storage available in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.isSessionStorage()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Cookies?" + "<img src='/assets/information_white.png' class='tooltip' title='Are cookies Enabled in your browser' />" +" </span>" + "<span class='value'>" + list_value(client.isCookie()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Time Zone" + "<img src='/assets/information_white.png' class='tooltip' title='Your browser timezone' />" + " </span>" + "<span class='value'>" + list_value(client.getTimeZone()) + "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "User language" + "<img src='/assets/information_white.png' class='tooltip' title='Currently used browser language' />" + " </span>" + "<span class='value'>" + list_value(client.getLanguage())+ "</span></li>")


		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Canvas Element" + "<img src='/assets/information_white.png' class='tooltip' title='Is browser canvas enabled' />" + " </span>" + "<span class='value'>" + list_value(client.isCanvas())+ "</span></li>")

		$("#other_info_ul").append("<li class=list-group-item >" +"<span class='key'>" + "Don't track Enabled?" + "<img src='/assets/information_white.png' class='tooltip' title='Is do not track flag is enabled in your browser' />" + " </span>" + "<span class='value'>" + list_value(window.doNotTrack == "1" || navigator.doNotTrack == "yes" || navigator.doNotTrack == "1" || navigator.msDoNotTrack == "1")+ "</span></li>")

		
		$("#connection_info1").html('')
		$("#connection_info1").append("<li class='list-group-item active'><i class='fa fa-plug'></i> Connection </li>");

		setConnection();
		
	});
	
	function setConnection(){
		var imageAddr = "/assets/logo.png" + "?n=" + Math.random();
		var startTime, endTime;
		var downloadSize = [15449];
		var download = new Image();
		download.onload = function () {
		    endTime = (new Date()).getTime();
		    showResults();
		}
		startTime = (new Date()).getTime();
		download.src = imageAddr;

		function showResults() {
		    var duration = (endTime - startTime) / 1000;
		    var bitsLoaded = downloadSize * 8;
		    var speedBps = (bitsLoaded / duration).toFixed(2);
		    var speedKbps = (speedBps / 1024).toFixed(2);
		    var speedMbps = (speedKbps / 1024).toFixed(2);
		    
		    $("#connection_info1").append("<li class=list-group-item >" +"<span class='key'>" + "Speed in B/s" + "<img src='/assets/information_white.png' class='tooltip' title='Your connection speed in Byte per seconds' />" +" </span>" + "<span class='value'>" + speedBps + "</span></li>")
			$("#connection_info1").append("<li class=list-group-item >" +"<span class='key'>" + "Speed in KB/s" + "<img src='/assets/information_white.png' class='tooltip' title='Your connection speed in Kilo Bytes per seconds' />" +" </span>" + "<span class='value'>" + speedKbps + "</span></li>")
			$("#connection_info1").append("<li class=list-group-item >" +"<span class='key'>" + "Speed in MB/s" + "<img src='/assets/information_white.png' class='tooltip' title='Your connection speed in Mega Bytes per seconds' />" +" </span>" + "<span class='value'>" + speedMbps + "</span></li>")
		}
	}

	function location_data_info (str) {
		switch(str) {
			case 'ip':
	    		// return "<i class='fa fa-info-circle' rel='tooltip' title='Your system IP address' id='blah'></i>"
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Your system IP address' />"
				break;
			case 'city':
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Your city according to Ip address' />"
				break;
			case 'region':
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Your region according to Ip address' />"
				break;
			case 'country':
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Your country according to Ip address' />"
				break;
			case 'loc':
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Latitude and longitude of your current location' />"
				break;
			case 'org':
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Detected network organization' />"
				break;
			case 'postal': 
	    		return "<img src='/assets/information_white.png' class='tooltip' title='Postal address based on your current location' />"
				break;
		    default:
	    		return "<img src='/assets/information_white.png' class='tooltip' title='your browser's info' />"
		        break;
		}

	}

	function ucwords (str) {
	    return (str + '').replace(/^([a-z])|\s+([a-z])/g, function ($1) {
	        return $1.toUpperCase();
	    });
	}

	function list_value(val){
		if(val == 'true' || val == true){
			return "<i class='fa fa-check-circle' ></i>"
		}else if (val == 'false' || val == false){
			return "<i class='fa fa-times-circle' ></i>"
		}else{
			return val;
		}
	}

	$(document).ready(function() {

		$('body').on('click', '.tooltip', function(){
			$(this).tooltipster('open');
		});
        $('.tooltip').tooltipster();
    });

</script>