<div id="main" class="row">
	<div id="tabs_contact" class="contacts left-col col-sm-offset-1 col-sm-6">
		<% counter = 1 %>
		<% @contacts.each do |contact| %>
			<%= link_to image_tag(contact.photo_url, :class => "img-contact each#{counter}"), "#contact_#{contact.id}"%>
			<% counter = (counter % 21) + 1 %>
		<% end %>
	</div>

	<div class="notes right-col col-sm-offset-1 col-sm-4">
		<!-- <div class="btn-toolbar" >
			<%= link_to "Update Contacts", user_update_contacts_path, :class => "btn btn-success"%>
			<%= link_to "+ Add Contact", new_user_contact_path, :class => "btn btn-success"%>
		</div> -->
	</div>
	<br/><br/><br/>

	<% show = true %>
	<% @contacts.each do |contact| %>
		<%= render "contact_detail", {contact: contact, show: show} %>
		<% show = false %>
	<% end %>
</div>
