<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @contact_note.note %>
</p>

<%= link_to 'Edit', edit_contact_note_path(@contact_note) %> |
<%= link_to 'Back', contact_notes_path %>
