.landing1 .main-title{
	margin-top: 0px !important;
}
.email{
    text-align: start;
    padding-left: 15%;
}
.email .number_msg{
	vertical-align: bottom;
	color: white;
	display: list-item;
	list-style: none;
	padding: 5px;
}